*{box-sizing: border-box;}
html{ scroll-behavior: smooth;}

.header{
    text-align: center;
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 142);
    color: white;
    padding: 10px;
    position: relative;
    

}
.logo{
    height: 60px;
    width: 60px;
}
.container{
    display: grid;
    grid-template-columns: 48% 48%;
    width: 800px;
    margin: 80px auto;

}
.img{
    width: 100%;
    display: block;
    height: 80%;
    border: solid 2px rgb(1, 1, 194) ;
    border-radius: 20px;
   
}
div p{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.img:hover{
    width: 100%;
    display: block;
    border: solid 2px rgb(1, 1, 194) ;
    border-radius: 20px;
    -webkit-box-shadow: 7px -2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px -2px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 7px -2px 8px 0px rgba(0,0,0,0.75);/*---Shadow taken from shadow generator website--*/
   
}

.link{
    text-decoration: none;
}
.formargin{
    margin:20px ;
}
/*----Second page--**/

.container-fruit{
   
    position: absolute;
    width: 100% ;
    height: 400px;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(5,20%);
}
.fruits{
margin-left: auto;
margin-right: auto;
margin-top: 10%;
}
.fruit-img{
    width: 140px;
    height: 140px;
    

}
div h2{
    text-align: center;
    font-size: 1.3em;
    font-weight: 900;
    color: white;
    background-color: brown;
    padding:20px;
    width: fit-content;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.fruit-img:hover{
    width: 100%;
    display: block;
    border: solid 2px rgb(157, 0, 16) ;
    border-radius: 10px;
    -webkit-box-shadow: 7px -2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px -2px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 7px -2px 8px 0px rgba(0,0,0,0.75);/*---Shadow taken from shadow generator website--*/
   
}

/*----Responsiveness---*/
@media screen and (max-width:1200px) {
    .container-fruit{
        display: grid;
        grid-template-columns: repeat(4,25%);
    }
    
}
@media screen and (max-width:900px) {
    .container-fruit{
        display: grid;
        grid-template-columns: repeat(3,33%);
    }
    
}
@media screen and (max-width:600px) {
    .container-fruit{
        display: grid;
        grid-template-columns: repeat(2,50%);
    }
    
}
@media screen and (max-width:400px) {
    .container-fruit{
        display: grid;
        grid-template-columns: repeat(1,100%);
    }
    
}