*{box-sizing: border-box;}
html{ scroll-behavior: smooth;}
/*------The Grid system---*/
img{
    width: 100%;
    display: block;
    height: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1200px;
    margin: 20px auto;
    background-color: rgb(250,250,250);
    box-shadow: 1px 1px 3px gray;
}
.img-container{
    margin: 10px;
    border: solid black 3px;
}
/*-----------Media Query---------*/
@media screen and (max-width:1200px){
    .grid-container{
        width: 800px;
        grid-template-columns: auto auto;
    }

}

/*----breakpoint for medium screen size up to 900px ----*/
@media screen and (max-width: 900px){
    .grid-container{
        width: 80%;
        grid-template-columns: auto;
    }
}

/*---Main Container---*/
.header-container{
    background-color: purple;
    color: white;
    display: flex;
}
.header-container > div{
    border: solid red 1px;
    padding: 20px;
}
.header-container > div:nth-child(3){
    margin-left: auto;
}
/*--intro container-------*/
.intro-container{
    display: grid;
    height: 300px;
    grid-template-columns: 30% 60% 10%;
}
.nav-menu{
    background-color: pink;
}
.content{
    background-color: hotpink;
}
.blog{
 background-color: rgb(230, 0, 120);
}
.footer{
    background-color: rgb(50, 20, 50);
    color: white;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.footer > div{
    border: solid pink 2px;
}

/*----Breakpoint up to 900px---*/
@media screen and (max-width:900px){
    .nav-menu{
        background-color: olive;
    }
    .content{
        grid-column: span 2;
    }
    .blog{
        grid-column: span 3;
        
    }
}
/*----Breakpoint up to 600px---*/
@media  screen and (max-width:600px){
    
    
}

