*{
    box-sizing: border-box;
}
.title{
    text-align: center;
    color: magenta;
    margin-top: 100px;
}
/*---Shapes ---*/
.shapeContainer{
    width: 500px;
    margin: 20px auto;
    background-color: azure;
    padding: 20px;
    text-align: center;
}
.shapeDiv{
    width: 200px;
    color: purple !important;
    
}
.square{
    width: 200px;
    background-color: rgb(0, 134, 87);
  

}
.rectangle{
    width: 500px;
    background-color: rgb(93, 168, 19);
}
.circle{
    width: 200px;
    border-radius: 50%;
    background-color: crimson;
    
}
.square, .rectangle, .circle, .shapeDiv{
    height: 200px;
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding-top: 10%;
    margin: 20px auto;
}
/*---collapsab;e nav menu--*/
.header-container, .navMenu{
    background-color: rgba(133, 3, 133, 0.7);
    color: white;
    display: flex;
    width: 100%;
}
.header-container > div, .navMenu > div{
   
    padding: 20px;
}
.header-container > div:nth-child(2){
    margin-left: auto;
}
.headerNav{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}
.navMenu{
    display: none;
}
.navMenu > div:nth-child(2){
    margin-left: auto;
}
.collapsemenu{
    background-color: rgb(30, 30, 30, 0.8);
    padding: 20px;
    display: none;/*----is hidden--*/
}
.collapsemenu>div{
    padding: 18px;
    color: white;
}
.collapsemenu>div:hover{
    border-bottom:magenta 2px ridge;
    font-weight: bolder;
    font-size: 1.2em;
    cursor: pointer;

}
.closeToOpen{
    display: block;
}

/*---Modal window--*/
img{
    width: 100%;
    display: block;

}
.card{
    width: 200px;
    border: solid 2px gray;
    cursor: pointer;
}
.card:hover{
    border: magenta 2px solid;
    transform: scale(1.1);
}
.modalwindow{
    background-color: rgba(30, 30, 30, 0.8);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: none; /*---hidden-*/

}
.modalcontent{
    width: 60%;
    margin: 20% auto;
    background-color: white;
    display: flex;


}
@media  screen and (max-width:900px){
    .header-container{
        display: none;
    }
    .navMenu{display: flex;}
}